.idea/*
__pycache__/
*.csv
.DS_Store

demo_notebooks/*
!demo_notebooks/extract_rooftop_information_from_CityGML.ipynb
!demo_notebooks/download_images_from_openNRW.ipynb
!demo_notebooks/explore_dataset.ipynb

/data/segmentation_dataset
/data/classification_dataset/OpenNRW_Train_16
/data/classification_dataset/OpenNRW_Val_16
/data/classification_dataset/OpenNRW_Test_16

utils/*
!utils/geo_utils.py


