.idea/*
__pycache__/
*.csv
.DS_Store

demo_notebooks/*
!demo_notebooks/extract_rooftop_information_from_CityGML.ipynb
!demo_notebooks/download_images_from_openNRW.ipynb
!demo_notebooks/explore_dataset.ipynb

data/*
!data/GeoJSON/Test_Run.geojson
!data/GML/LoD2_32_280_5657_1_NW.gml
!data/GML/LoD2_32_280_5659_1_NW.gml
!data/classification_dataset/*.json

utils/*
!utils/geo_utils.py


