.idea/
__pycache__/
*.csv
.DS_Store

experimentation/*
!experimentation/Visualize_Image_Locations.ipynb
!experimentation/CityGML_To_GeoJSON.ipynb
!experimentation/Download_OpenNRW_from_BBox.ipynb

data/

assets/